#send, .typing{
    position: fixed;
    border-radius: 5px;
    width: 40%;
    bottom: 5%;
    left: 45%;
}

#send{
    position: fixed;

    width: 2%;
    bottom: 5%;
    left: 86%;
}
.background{
    position: fixed;
    width : 40%;
}

.message{
    position: relative;
    top: 5%;
}