
i:hover{
    cursor: pointer;
}
.row{
    --bs-gutter-x: 0;
}
#profile{
    width: 50%;
}
#settings{
    background-color: gray;
}
#add_contact{
    float: right;
}

.background{
    position: fixed;
	top: 0;
	left: 0;
    width : 100%;
    height: 100%;
    z-index: -1;
}

.myCan {
    background-color: white;
}
